<h1 class="fix"> Search Results for Query: <%=  query  %></h1>
<br>
<br>
<br>
<br>
<br>
<div>
    we have found <%= result.length %> results for you :-
    <ol>
        <% result.forEach(function(item){ %>
            <li>
                <%= item.name %>
                <ul>
                    <% item.tags.forEach(function(vid){  %>
                        <li>
                           <a href=""><%= vid %></a>
                        </li>
                    <% }); %>
                </ul>
            </li>
        <% }); %>
    </ol>
</div>
