<br>
<br>
<br>
<br>
<br>
<h1 class="fix"> Welcome <%= uname %> <h1>
<h2>what are you looking for ?</h2>
<form action = "/search/search_results" method = "POST">
         <input type="text" name="Search">
  		 <input type="submit" value="Submit">
</form>

